.dropdown-container {
    width: 220px;
    margin: 100px auto;
    position: relative;
}

select {
    font-weight: bold;
    cursor: pointer;
    background-color: #041172;
    border: 1px solid transparent;
    color: white;
    appearance: none;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
    border-radius: 5px;
}


.select-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
    height: 36px;
    pointer-events: none;
    border: 2px solid #fff;
    padding-left: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.select-icon svg.icon {
    transition: fill 0.3s ease;
    fill: white;
}

select:hover,
select:focus {
    color: #041172;
    background-color: white;
    border: 1px solid #DCDCDC;
}

select:hover ~ .select-icon,
select:focus ~ .select-icon {
    background-color: white;
    border-color: #DCDCDC;
}

select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
    fill: #041172;
}